---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Farouk Jaziri" description="About Farouk Jaziri Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="321"
					height="231"
					src="/assets/at-work.jpg"
					alt="Farouk Jaziri at work with a colleague"
					style="display: block; margin: 0 auto;"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I bring a strong track record in <b>data analytics and engineering</b>, with hands-on experience 
						designing impactful data solutions that drive business decisions. In my current role 
						as a Data Analyst at <a href="https://dnext.io/">DNEXT</a> in Sousse.
					</p>
					<p>
						I improved team efficiency and streamlined data processes, creating tangible value 
						in data-driven projects.
					</p>
					<p>
						My dedication to delivering actionable insights positions me well for data-centric roles 
						focused on strategic impact.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						I hold a <b>Computer Science Engineer</b> degree from ENICarthage at the University of Carthage. 
						This solid technical foundation has been instrumental in helping me build expertise in 
						advanced analytics and data engineering, empowering me to tackle complex data challenges with confidence.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<b>Data Ingestion</b></br>
					<ul style="font-size: medium;">
						<li><b>Familiar with: </b>Kafka</li>
					</ul>
					<b>Data Storage</b></br>
					<ul style="font-size: medium;">
						<li><b>Proficient in: </b>Snowflake - Postgresql</li>
					</ul>
					<b>Data Integration</b></br>
					<ul style="font-size: medium;">
						<li><b>Proficient in: </b>Power Query</li>
						<li><b>Familiar with: </b>Talend</li>
					</ul>
					<b>Data Processing</b></br>
					<ul style="font-size: medium;">
						<li><b>Proficient in: </b>Python - SQL - Excel</li>
						<li><b>Familiar with: </b>R</li>
					</ul>
					<b>Data Pipeline (ETL/ELT)</b></br>
					<ul style="font-size: medium;">
						<li><b>Familiar with: </b>Airflow - dbt</li>
					</ul>
					<b>Data Visualization</b></br>
					<ul style="font-size: medium;">
						<li><b>Proficient in: </b>Power BI - DAX- Matplotlib - Plotly</li>
						<li><b>Familiar with: </b>IBM Cognos</li>
					</ul>
					<b>Automation</b></br>
					<ul style="font-size: medium;">
						<li><b>Proficient in: </b>Power automate</li>
						<li><b>Familiar with: </b>Shell Scripting</li>
					</ul>
					<b>Version Control</b></br>
					<ul style="font-size: medium;">
						<li><b>Proficient in: </b>Github - GitFlow</li>
					</ul>
					<b>Project & Team Management</b></br>
					<ul style="font-size: medium;">
						<li><b>Proficient in: </b>JIRA - Confluence</li>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
