---
import '../styles/global.css';

interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const {
	title = 'Farouk Jaziri: Analytics Engineer',
	description = 'The personal site of Farouk Jaziri',
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>

<link rel="icon" type="image/x-icon" href="/Portfolio/favicon.ico">
<link rel="icon" type="image/png" sizes="32x32" href="/Portfolio/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/Portfolio/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/Portfolio/apple-touch-icon.png">
<!-- For better Google/social preview -->
<meta property="og:image" content="https://djazirifarouk.github.io/Portfolio/android-chrome-512x512.png">

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
	rel="stylesheet"
/>
