---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Data Innovator</h2>
		<p>On a mission to turn raw data into golden insights with analytics and data engineering. Passionate about mastering new tools and techniques to enhance project outcomes.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="ai" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>AI Enthusiast</h2>
		<p>Deeply interested in exploring AI applications, from automation, to predictive modeling, to solve complex problems and shape future-ready solutions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="client" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Client Consultant</h2>
		<p>Dedicated to helping clients unlock the magic in their data, delivering insights and strategies that are as impactful as they are insightful.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
